@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.doctor{
    padding-top:2rem;
    padding-bottom:3rem;
    background: #BAD8F5;
    font-family: 'Raleway';
}   
.therapists{
    margin-left: 8rem;
    margin-top: 3rem;
    background: #434B7A;
    border-radius: 80px;
    padding-bottom: 3rem;
    padding-right: 3rem;
}
.therapists h1{
    position: relative;
    font-size: 50px;
    color: white;
}
.doctor .therapists h2{
    position: relative;
    font-size: 20px;
    color: white;
    float: right;
}
.therapists .doc{
    position: relative;
    width: 596px;
    height: 163px;
    left: 97px;
    top: 200px;
    background: #FFFFFF;
    border-radius: 20px;
}
.doctor .doc-gif img{
    margin-left: 900px;
    width: 500px;
    height: 400px;
}
.therapists .doc .doc-img{
    position: absolute;
    width: 107px;
    height: 116px;
    left: 50px;
    top: 25px;
    border-radius: 20px;
}
.therapists .doc .doc-name{
    position: absolute;
    width: 313px;
    height: 36px;
    left: 260px;
    top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
/* identical to box height */
    color: #000000;
}
.therapists .doc .doc-spec{
    position: absolute;
    width: 224px;
    height: 23px;
    left: 265px;
    top: 65px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}
.therapists .doc .book{  
    position: absolute;
    width: 123px;
    height: 44px;
    left: 460px;
    top: 110px;
    color: white;
    background: #434B7A;
    border-radius: 20px;
}
    
    