.cards {
  box-sizing: border-box;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 249px;
  height: 238px;
  padding: 30px;
  margin: 10px;
  background: #fcf3c6;
  border: 1px solid #000000;
  box-shadow: 7px 6px 4px rgba(0, 0, 0, 0.25);
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195px;
  height: 39px;
  left: 983px;
  top: 773px;
  font-family: "Mirza";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.time {
  left: 80px;
  top: 12px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 10px;
}

.card-delete {
  margin-top: 15px;
}
